.sidebar{
    /* width:15%; */
    /* height:100%; */

    /* position:fixed; */

    border-right:2px solid #e5e5e5;

    z-index:3;
    display:flex;
    flex-direction: column;
    align-items: center;

    /* just for development purpose */
    /* background-color:rgb(25, 25, 139); */
}

.sidebar-title{
    font-size:22px;
    font-weight: normal;
    
    margin-bottom: 20px;
}

.logo-container{
    margin-bottom: 4rem;
}

.logo-container h2{
    margin-top: 1.3rem;
}

@media(width<852px){

    .sidebar{
        display:flex;
        flex-direction: row;;
    }

}