/* nav */
.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;

    border-bottom: 2px solid #f3f3f3;
    padding:20px 2px 10px 5px;

    z-index:999;
    /* margin-left:1rem; */
}

.search-input{
    background-color: #f7f6f6;

    /* margin-right: 20px; */
    border:none;
    outline:none;
    border-radius: 5px;

    position:relative;
    width:10rem;

    font-weight: lighter;
    font-size:small;

}


.nav-icons{
    /* width:1.5rem;
    height:1.5rem; */

    margin-left: 1rem;

    color:black;
    
}

.nav-icons:hover{
    transform: scale(1.2);
}