.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* ------------------------------------------------------- */


.navGrid{
  grid-area:n;

  align-self: start;
}
.recomGrid{
  grid-area:r;
  
  align-self: center;
  justify-self:start;
}
.sidebarGrid{
  grid-area: s;
}
.productsGrid{
  grid-area:p;
}


/* ------------------------------------------------------- */
/* GRIDS i.e. App Layout   */
.App-layout{
  height:100%;
  display:grid;

  grid-template-rows: repeat(5,auto);
  grid-template-columns: 15% 1fr 1fr 1fr 1fr 1fr;
  gap:20px;

  grid-template-areas: 
    's n n n n n'
    's r r r r r'
    's p p p p p'
    's p p p p p'
    's p p p p p';
}

/* ---------------------------------------------------------- */
@media(width<852px){
  
  .recomGrid{
    grid-area:r;
    
    align-self: center;
    justify-self:center;
  }
  .productsGrid{
    grid-area:p;
    
  }



  .App-layout{
    height:100%;
    display:grid;

    grid-template-rows: repeat(5,auto);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap:20px;

    grid-template-areas: 
      'n n n n n n'
      'r r r r r r'
      's s s s s s'
      'p p p p p p'
      'p p p p p p';
  } 
}