*{
    font-size:medium;
    font-family: sans-serif;
    font-weight: bold;

    color: #535353;
}

h1,h2,h3,h4,h5,h6{
    color:black;
}
a{
    text-decoration: none;
}

li{
    text-decoration: none;
}


a:hover{
    text-decoration: none;

    transform: scale(1.2);
}