.card-container{
    display:flex;
    flex-wrap: wrap;

    margin-top:1rem;
    margin-left: 1rem;    

    z-index:-2;
}
.card{
    margin:20px;
    border:2px solid #ededed;
    padding:20px;

    cursor:pointer;
}



.card-image{
    width:10rem;
    margin-bottom: 1rem;
}
.card-title{
    font-size: small;

    margin-bottom: 1rem;
}


.card-review{
    display:flex;
    align-items: center;  

    margin-bottom: 1rem;
}
.rating-star,
.rating-star path{
    color:gold;
}
.total-reviews{
    margin-left: 10px;
    padding-left: 5px;

    font-size:0.7rem;
    
}


.card-price{
    display:flex;
    justify-content: space-between;
    align-items: center;

}
.price,
.price del{
    font-size:0.8rem;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
   }

/* --------------------------------------------------------- */

@media(width<852px){


    .card-image{
        width:8rem;
        margin-bottom: 1rem;
    }

}

/* @media(width<){

} */